.navbar {
    background-color: rgb(182, 121, 22)
}


.col-md-8 {
    background-color: white;
}
.hs {
    float: left;
    margin-right: 10px;
    margin-top: 15px;
}

.wrapper {
    background-image: url("../img/rsz_pexels-dmitry-demidov-3784566.png");
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
}

.about-section {
    color: black;
}

h2 {
    color: rgb(182, 121, 22);
    text-align: left;
}

p {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.portfolio {
    margin-top: 25px;
    margin-left: 80px;
    color: rgb(182, 121, 22);
}

.character-sheet {
    width: 150%
    
}

.col-md-4 {
    
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
}  

.contact {
    margin-left: 100px;
}

.form-group {
    padding-left: 100px;
    color: rgb(182, 121, 22);
    
}

.btn{
    margin-left: 100px;
    background-color: rgb(182, 121, 22);
}

.form-group {
    padding-right: 25px;
}

/* .container {
    margin-bottom: 100px;
} */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(182, 121, 22);
    color: white;
    text-align: center;
  }